<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{admin/fragments/head :: head}"></head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    <nav th:replace="~{admin/fragments/navbar :: navbar}"></nav>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->

    <div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid my-2">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Chỉnh Sửa Thông Tin Hệ Thống Thiết Bị</h1>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a th:href="@{/admin/equipment-system}" class="btn btn-primary">Trở Lại</a>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="container-fluid">
                <form class="commonForm" th:id="deviceFormEdit" th:action="@{/admin/equipment-system/edit/{id}(id=${equipmentSystem.id})}" method="post" th:object="${equipmentSystem}">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label for="equipment_system_id">ID Hệ Thống Thiết Bị</label>
                                                <input type="text"  th:field="*{equipmentSystemId}" th:name="equipment_system_id" id="equipment_system_id" class="form-control" placeholder="ID hệ thống thiết bị">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label for="name">Tên Hệ Thống Thiết Bị</label>
                                                <input type="text" th:field="*{nameEquipmentSystem}" th:name="name" id="name" class="form-control" placeholder="Tên hệ thống thiết bị ">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label for="model">Mã Model</label>
                                                <input type="text" th:field="*{model}" th:name="model" id="model" class="form-control" placeholder="Mã model">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label for="description">Mô Tả</label>
                                                <textarea th:field="*{description}" name="description" id="description" cols="30" rows="10" class="summernote" placeholder="Mô tả"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--                            <div class="card mb-3">-->
                            <!--                                <div class="card-body">-->
                            <!--                                    <h2 class="h4 mb-3">Hình Ảnh</h2>-->
                            <!--                                    <div id="image" class="dropzone dz-clickable">-->
                            <!--                                        <div class="dz-message needsclick">-->
                            <!--                                            <br>Tải Hình Ảnh Lên.<br><br>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->

                        </div>

                        <div class="col-md-4">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label for="brand_id">Thương Hiệu</label>
                                        <select th:field="*{brand.id}" id="brand_id" class="form-control">
                                            <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.nameBrand}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h2 class="h4 mb-3">Tình Trạng Thiết Bị</h2>
                                    <div class="mb-3">
                                        <label for="status_equipment_type_id">Danh Mục Tình Trạng</label>
                                        <select th:field="*{statusEquipmentType.id}" id="status_equipment_type_id" class="form-control">
                                            <option th:each="statusEquipmentType : ${statusEquipmentTypes}" th:value="${statusEquipmentType.id}" th:text="${statusEquipmentType.nameStatusType}"></option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="status_equipment_id">Tình Trạng Thiết Bị</label>
                                        <select th:field="*{statusEquipment.id}" id="status_equipment_id" class="form-control">
                                            <option th:each="statusEquipment : ${statusEquipments}" th:value="${statusEquipment.id}" th:text="${statusEquipment.nameStatus}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <h2 class="h4  mb-3">Loại Thiết Bị</h2>
                                    <div class="mb-3">
                                        <label for="category_id">Danh Mục Thiết Bị</label>
                                        <select th:field="*{category.id}" id="category_id" class="form-control">
                                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.nameCategory}"></option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="sub_category_id">Loại Thiết Bị</label>
                                        <select th:field="*{subCategory.id}" id="sub_category_id" class="form-control">
                                            <option th:each="subCategory : ${subCategories}" th:value="${subCategory.id}" th:text="${subCategory.nameSubCategory}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="pb-5 pt-3">
                                <button class="btn btn-primary" onclick="document.getElementById('deviceFormEdit').submit()">Cập Nhật</button>
                                <a th:href="@{/admin/equipment-system}" class="btn btn-outline-dark ml-3">Hủy</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="~{admin/fragments/footer :: footer}"></div>
</div>
<!-- ./wrapper -->
<!-- jQuery -->

<div th:replace="~{admin/fragments/scripts :: scripts}"></div>

</body>
</html>
