<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{admin/fragments/head :: head}"></head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    <nav th:replace="~{admin/fragments/navbar :: navbar}"></nav>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->

    <div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid my-2">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Chỉnh Sửa Phiếu Nhập Kho</h1>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a th:href="@{/admin/receipt}" class="btn btn-primary">Trở Lại</a>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="container-fluid">
                <form class="commonForm" th:action="@{/admin/receipt/create}" method="post" th:object="${equipmentSystem}">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="storage_id">Kho</label>
                                                <select name="storage_id" id="storage_id" class="form-control">
                                                    <option>Chọn Kho</option>
                                                    <option>Kho CNTT</option>
                                                </select>
                                                <p></p>
                                            </div>
                                            <div class="mb-3">
                                                <label for="sub_category_id">Loại Trang Thiết Bị</label>
                                                <select name="sub_category_id" id="sub_category_id" class="form-control">
                                                    <option>Chọn loại trang thiết bị</option>
                                                    <option>RAM</option>
                                                </select>
                                                <p></p>
                                            </div>
                                            <div class="mb-3">
                                                <label for="device_id">ID Trang Thiết Bị</label>
                                                <select name="device_id" id="device_id" class="form-control">
                                                    <option>Chọn trang thiết bị</option>
                                                    <option>IDV2323</option>
                                                </select>
                                                <p></p>
                                            </div>
                                            <div class="mb-3">
                                                <label for="date_add_storage">Ngày Nhập Trang Thiết Bị</label>
                                                <input autocomplete="off" type="text" th:name="date_add_storage" id="date_add_storage" class="form-control" placeholder="Ngày nhập trang thiết bị">
                                                <p></p>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="quality">Số Lượng</label>
                                                <input type="text" th:name="quality" id="quality" class="form-control" placeholder="Số Lượng">
                                            </div>
                                            <div class="mb-3">
                                                <label for="price">Đơn Giá</label>
                                                <input type="text" th:name="price" id="price" class="form-control" placeholder="Đơn giá">
                                                <p></p>
                                            </div>
                                            <div class="mb-3">
                                                <label for="employee_id">Nhân Viên Thực Hiện</label>
                                                <select name="employee_id" id="employee_id" class="form-control">
                                                    <option>Chọn nhân viên</option>
                                                    <option>IDV2323</option>
                                                </select>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="description">Mô Tả</label>
                                            <textarea name="description" id="description" cols="30" rows="10" class="summernote" placeholder="Mô tả"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pb-5 pt-3">
                                <button type="submit" class="btn btn-primary">Cập Nhật</button>
                                <a th:href="@{/admin/receipt}" class="btn btn-outline-dark ml-3">Hủy</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="~{admin/fragments/footer :: footer}"></div>
</div>
<!-- ./wrapper -->
<!-- jQuery -->

<div th:replace="~{admin/fragments/scripts :: scripts}"></div>

</body>
</html>
